@import "../../responsive.scss";

.listPage {
  display: flex;
  height: 100%;

  @include md {
    flex-direction: column;
    overflow: scroll;
    height: 100vh;
  }

  @include sm {
    flex-direction: column;
    overflow: scroll;
    height: 100vh;
  }
  .listContainer {
    flex: 3;
    height: 100%;
    @include md {
      height: auto;
    }
    .wrapper {
      height: 100%;
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      overflow-y: scroll;
      padding-bottom: 50px;
    }
  }
  .mapContainer {
    flex: 2;
    height: 100%;
    background-color: #fcf5f3;

    @include md {
      height: 1000px;
    }
    @include sm {
      height: 1000px;
    }

  }
}
