@import "../../responsive.scss";

button {
  padding: 16px 36px;
      border: 1px solid #999;
      border-radius: 0.5rem;
      cursor: pointer;
      background-color: white;
      text-transform: capitalize;
      margin: 10px;
      &.active {
        background-color: #0061E0;
        color: white;
      }
}
.areaContainer {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 5px;
  padding: 0.625rem;
  border-radius: 0.5rem;
  margin: 2.5rem auto;
  width: 100% ;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  .chartWrapper{
    flex: 3;
    margin-left: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @include sm {
      flex-direction: column;
    }
  }
  .mapContainer {

    flex: 5;
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: #fcf5f3;
    .buttonWrapper{
      display: flex;
      gap: 1rem;
      margin-bottom: 1rem;
      width: 100%;
    }
  }
}

.estimatePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .textContainer {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include sm{
      margin-top: 400px;
    }
    .wrapper {
      padding-right: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;
      height: 100%;

      @include lg {
        padding-right: 50px;
      }

      @include md {
        padding: 0;
      }

      @include sm {
        justify-content: flex-start;
      }


      .title {
        font-size: 64px;

        @include lg {
          font-size: 48px;
        }
      }

      .boxes {
        display: flex;
        justify-content: space-between;

        @include sm {
          display: none;
        }

        h1 {
          font-size: 36px;

          @include lg {
            font-size: 32px;
          }
        }

        h2 {
          font-size: 20px;
          font-weight: 300;
        }
      }
    }
  }

  .imgContainer {
    flex: 2;
    background-color: #fcf5f3;
    position: relative;
    display: flex;
    align-items: center;

    @include md {
      display: none;
    }

    img {
      width: 115%;
      position: absolute;
      right: 0;

      @include lg {
        width: 105%;
      }
    }
  }
}

.tabContainer {
  .button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;

    &.active {
      background-color:teal;
      color: #fff;
    }
  }
  .applyButton {
    background-color: #0061E0;
    color: white;
  }

  @include sm {
    display: none;
  }
}

.mapContainer{
  @include sm {
    display: none;
  }
}